body{
    background-color: rgb(9, 179, 52);
    color: white;
    font-family:"Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    height:700px;
    margin:0;
}
button {
    background-color:rgb(160, 250, 4);
    color:white;
    font-family: "Bai Jamjuree", sans-serif;
}